################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RomanNumerals/RomanNumerals/obj/Debug
/RomanNumerals/packages
/RomanNumerals/RomanNumerals.Tests/bin/Debug
/RomanNumerals/RomanNumerals.Tests/obj/Debug
/RomanNumerals/RomanNumerals/bin/Debug
